@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

body {
    background-color: #73132f !important;
    color: #fcfdfc;
}
.AppMain {
    @include u1.block_display();

    .AppTitle {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding: 40px 0;
    }
}